.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 636px;

  & .payload-richtext {
    border: 1px dashed blue;
  }

  & p {
    margin: 0 0 24px 0;
    font-size: 16px;
    line-height: 1.75;
  }

  & li {
    margin: 0 0 0 0;
    font-size: 16px;
    line-height: 1.75;
  }

  & a {
    transition: color 120ms;
    color: #fd243e;
    text-decoration: none;

    &:hover {
      color: #111013;
    }
  }

  & ol,
  & ul {
    margin: 0 0 24px 24px;
  }

  & ol {
    list-style-type: decimal;
  }

  & ul {
    list-style-type: disc;
  }
}
