.root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 48px auto 32px;
  width: 100%;
  max-width: 636px;
}

.backLink {
  margin-bottom: 16px;
  width: fit-content;
  color: #8e8c8f;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}

.title {
  margin: 0 0 24px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
}

.author {
  margin: 0;
  color: #111013;
  font-size: 16px;
  line-height: 150%;
}

.date {
  margin: 0;
  color: #8e8c8f;
  font-size: 14px;
  line-height: 150%;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 636px;

  & .payload-richtext {
    border: 1px dashed blue;
  }

  & p {
    margin: 0 0 24px 0;
    font-size: 16px;
    line-height: 1.75;
  }

  & a {
    transition: color 120ms;
    color: #fd243e;
    text-decoration: none;

    &:hover {
      color: #111013;
    }
  }
}
