.content {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin: 0 0 16px 0;
    font-size: 24px;
    line-height: 1.75;
  }

  & p {
    margin: 0 0 16px 0;
    font-size: 16px;
    line-height: 1.75;

    &:has(> br:only-child) {
      display: none;
    }
  }

  & li {
    margin: 0 0 0 0;
    font-size: 16px;
    line-height: 1.75;
  }

  & a {
    transition: color 120ms;
    color: #fd243e;
    text-decoration: none;

    &:hover {
      color: #111013;
    }
  }

  & ol,
  & ul {
    margin: 0 0 24px 24px;
  }

  & ol {
    list-style-type: decimal;
  }

  & ul {
    list-style-type: disc;
  }

  & hr {
    margin: 0 0 16px 0;
    border-color: var(--color-gray-300);
  }
}
