:root {
  --font-mono: "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  /* background: rgb(0, 0, 0); */
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  font-family: system-ui;
  /* color: rgb(1000, 1000, 1000); */

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
